doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='/style/reset.css')
    link(rel='stylesheet', href='/style/fonts.css')
    link(rel='stylesheet', href='/style/searchList.css')
  body
    header
      .tool_line
        #tool.tool
          ul.operate
            li
              a(href='/shopping')
                span.icon-cart
                | 购物车
                b.cart_items_num 0
            li
              a(href='/user') 我的订单
            li
              a(href='/user') 我的帐号
          .welcome
            span
              if user
                | 您好，#{user.username}&nbsp;
                a(href="/logout") [注销]
              else
                | 欢迎光临，请
                a(href='/login') 登录
                |  没有账号？点击
                a(href='/register/phone') 注册
      .logo_line
        .logo
          a(href='/')
            img(src='/images/logo.jpg')
          .search_line
            .search
              input#search_con(type='text')
              #search_classify
                span 全部分类
                span.icon
                ul
                  li
                    a(href='javascript:;') 全部分类
                  li
                    a(href='javascript:;') 图书
                  li
                    a(href='javascript:;') 电子书
              button#search
                span.icon-search
            .search_hot
              | 热搜：
              a(href='javascript:;') 日本语
              a(href='javascript:;') 妖怪客栈
              a(href='javascript:;') 汗青堂丛书
              a(href='javascript:;') 看万物
              a(href='javascript:;') 使女的故事
              a(href='javascript:;') 高级搜索
          .user_line
            a.user_cart(href='/shopping')
              span.icon-cart
              | 						购物车
              b.cart_items_num 0
            a.user_indent(href='/user')
              | 我的订单
    .main_container
      .main
        h1.nav
          if bookName
            if !bookName.second
              a(href='/list/all') 全部
              | &gt;
              span #{bookName}
            else
              a(href='/list/all') 全部
              | &gt;
              a(href='/list?first=' + bookName.first) #{bookName.first}
              | &gt;
              span #{bookName.second}
          else
            span 全部
        if data.length > 0
          ul.list
            each item in data
              li
                a.img(href='/book/' + item._id, title=item.name)
                  img(src=item.img)
                p.price
                  span.cur_price ¥#{item.price.toFixed(2)}
                  span.ori_price
                    | 定价:
                    span ¥#{item.oriPrice.toFixed(2)}
                  span.discount (#{(item.price / item.oriPrice * 10).toFixed(2)}折)
                a.title(href='/book/' + item._id, title=item.name)
                  | #{item.name}
                p.author #{item.author}
                .btn
                  a(href='javascript:;')
                    span.icon-cart
                    | 加入购物车
                  a(href='javascript:;') 收藏
        else
          div.no-result 抱歉，找不到相关图书
    script(src='/js/utils.js')
    script(src='/js/header.js')