doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='/style/reset.css')
    link(rel='stylesheet', href='/style/fonts.css')
    link(rel='stylesheet', href='/style/shopping.css')
  body
    header
      .tool_line
        #tool.tool
          ul.operate
            li
              a.shopping_cart(href='javascript:;')
                span.icon-cart
                | 购物车
                b.cart_items_num 0
            li
              a.user_indent(href='javascript:;') 我的帐号
          .welcome
            span
              if user
                | 您好，#{user.username}&nbsp;
                a(href="/logout") [注销]
              else
                | 欢迎光临，请
                a(href='/login') 登录
                |  没有账号？点击
                a(href='/register/phone') 注册
      .logo_line
        .logo
          a(href='/')
            img(src='/images/logo.jpg')
          .search_line
            .search
              input#search_con(type='text')
              #search_classify
                span 全部分类
                span.icon
                ul
                  li
                    a(href='javascript:;') 全部分类
                  li
                    a(href='javascript:;') 图书
                  li
                    a(href='javascript:;') 电子书
              button#search
                span.icon-search
            .search_hot
              | 热搜：
              a(href='javascript:;') 日本语
              a(href='javascript:;') 妖怪客栈
              a(href='javascript:;') 汗青堂丛书
              a(href='javascript:;') 看万物
              a(href='javascript:;') 使女的故事
              a(href='javascript:;') 高级搜索
          .user_line
            a.user_cart.shopping_cart(href='javascript:;')
              span.icon-cart
              | 						购物车
              b.cart_items_num 0
            a.user_indent(href='javascript:;')
              | 我的帐号
    .main_container
      if shopping.length > 0
        .main
          h1.head
            span.w200
              a.all_select(href='javascript:;')
                span.icon-checkmark
              | 全选
            span.w400 商品信息
            span.w150 单价（元）
            span.w150 数量
            span.w150 金额（元）
            span.w150 操作
          ul.list#list
            each item in shopping
              li(bookId=item.id)
                span.w200
                  a.select(href='javascript:;')
                    span.icon-checkmark
                  a.img(href='/book/' + item.id)
                    img(src=item.img)
                span.w400.title
                  a(href='/book/' + item.id) #{item.name}
                span.w150.item_pri ¥#{item.price.toFixed(2)}
                span.w150.item_num
                  a.minus(href='javascript:;')
                    span.icon-minus
                  input.item_num_input(type='text', value=item.num)
                  a.plus(href='javascript:;')
                    span.icon-plus
                span.w150.item_all_price ¥#{(item.price * item.num).toFixed(2)}
                span.w150.del
                  a.item_del(href='javascript:;') 删除
          .pay
            span
              a.all_select(href='javascript:;')
                span.icon-checkmark
              | 全选
            a.all_del#all_del(href='javascript:;') 批量删除
            span.num_container
              | 已选择
              span.all_num#all_num 6
              | 件商品
            a.btn#pay-money(href='javascript:;') 结  算
            p.sum
              | 总计：
              span.all_price#all_price ¥148.20
      else
        div.no-result 购物车空空如也
    .dialog#pay-dialog
      .pay-container
        span.icon-cross.close-win#close-pay-win
        h1.pay-header 支付窗口
        .pay-content
          .pay-box
            span.pay-tip 购买的商品数量：
            span.pay-num#pay-shop-num 1
          .pay-box
            span.pay-tip 需要支付的价格：
            span.pay-num#pay-all-price &yen;100
          .pay-box
            span.pay-tip 账户余额：
            span.pay-num#pay-user-money &yen;100
            button#pay-add 充 值
          .pay-box
            span.pay-tip 手机号码：
            input.pay-input#pay-phone(type="text")
          .pay-box
            span.pay-tip 收货地址：
            input.pay-input#pay-address(type="text")
        .pay-btn
          button#pay-com 确 认
          button#pay-cancel 取 消
    .dialog#password-dialog
      .password-container
        p 请输入6位支付密码
        input#pay-password(type="password")
        .pay-btn.password-btn
          button#password-com 确 认
          button#password-cancel 取 消
    .dialog#tip-dialog
      .tip-container
        span.icon-cross.close-win#close-tip-win
        p#tip 这是提示信息
        button.tip-btn#tip-com 确 定
    script(src="/js/utils.js")
    script(src="/js/header.js")
    script(src="/js/shopping.js")
