doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='/style/reset.css')
    link(rel='stylesheet', href='/style/fonts.css')
    link(rel='stylesheet', href='/style/user.css')
  body
    header
      .tool_line
        #tool.tool
          ul.operate
            li
              a.shopping_cart(href='javascript:;')
                span.icon-cart
                | 购物车
                b.cart_items_num 0
            li
              a.user_indent(href='javascript:;') 我的帐号
          .welcome
            span
              if user
                | 您好，#{user.username}&nbsp;
                a(href="/logout") [注销]
              else
                | 欢迎光临，请
                a(href='/login') 登录
                |  没有账号？点击
                a(href='/register/phone') 注册
      .logo_line
        .logo
          a(href='/')
            img(src='/images/logo.jpg')
          .search_line
            .search
              input#search_con(type='text')
              #search_classify
                span 全部分类
                span.icon
                ul
                  li
                    a(href='javascript:;') 全部分类
                  li
                    a(href='javascript:;') 图书
                  li
                    a(href='javascript:;') 电子书
              button#search
                span.icon-search
            .search_hot
              | 热搜：
              a(href='javascript:;') 日本语
              a(href='javascript:;') 妖怪客栈
              a(href='javascript:;') 汗青堂丛书
              a(href='javascript:;') 看万物
              a(href='javascript:;') 使女的故事
              a(href='javascript:;') 高级搜索
          .user_line
            a.user_cart.shopping_cart(href='javascript:;')
              span.icon-cart
              |             购物车
              b.cart_items_num 0
            a.user_indent(href='javascript:;')
              | 我的帐号
    .main_container
      .main
        .nav
          span
            span.icon-user
            | 我的帐号
          ul#nav
            li.active
              a(href='javascript:;') 个人信息
            li
              a(href='javascript:;') 修改登录密码
            li
              a(href='javascript:;') 修改支付密码
            li
              a(href='javascript:;') 收货地址
            li
              a(href='javascript:;') 我的订单
        .con
          .tab.active
            .box
              label 用户名：
              span #{data.username}
            .box
              label 性别：
              select(value=data.sex)
                option(value="") 
                option(value="男") 男
                option(value="女") 女
            .box
              label 手机号：
              input(type="text", value=data.telephone)
            .box
              label 余额：
              span &yen;#{(data.money).toFixed(2)}
              button 充值
            .btn
              button 修改
              button 重置
          .tab
            .box
              label 旧登录密码：
              input(type="password")
            .box
              label 新登录密码：
              input(type="password")
            .box
              label 再次输入密码：
              input(type="password")
            .btn
              button 修改
              button.password_reload 重置
          .tab
            .box
              label 旧支付密码：
              input#old-pay(type="password")
              span.tip 从未设置过支付密码的请留空
            .box
              label 新支付密码：
              input#new-pay(type="password")
            .box
              label 再次输入密码：
              input#new-repay(type="password")
            .btn
              button#pay-change 修改
              button.password_reload 重置
          .tab
            .box
              label 收货地址：
              input(type="text", value=data.address)
            .btn
              button 修改
              button 重置
          .tab
            .box
              if data.detail.length > 0
                table
                  tr
                    th 订单编号
                    th 下单时间
                    th 商品数量
                    th 消费金额
                    th 订单状态
                    th 操作
                  tr
                    td 44520201805092205326
                    td 2018-05-09 22:05
                    td 3
                    td 213.54
                    td 待发货
                    td
                      a(href="https://www.kuaidi100.com/chaxun?com=huitongkuaidi&nu=71263967936202", target="_blank") 查看物流
              else
                div.no-result 暂时没有数据
    .dialog#tip-dialog
      .tip-container
        span.icon-cross.close-win#close-tip-win
        p#tip 这是提示信息
        button.tip-btn#tip-com 确 定
    script(src='/js/utils.js')
    script(src='/js/header.js')
    script(src="/js/user.js")